@font-face {
	font-family: Centra;
	src: url('./assets/fonts/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/fonts/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/fonts/CentraNo2-Book.ttf');
	font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #1D1D1F !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}
@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  border: 0;
  /* background-color: transparent; */
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

nav.navbar{
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}

nav.navbar div.container{
  display: inline-flex;
}


div.me-auto.navbar-nav{ 
  margin-left: 420px;
}

nav.navbar {
  padding: 0px 0;
  background-color: #1D1D1F;
}

nav.navbar a.navbar-brand {
  width: 20%;
}


img {
  width: 100%;
  height: auto;
}

.nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
  text-decoration: none;
}

 a.nav-link.navbar-link:hover,
 a.nav-link.navbar-link.active {
    opacity: 1;   
}

/* span.navbar-text {
  display: flex;
  align-items: center;
} */

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}


/* banner */
.social-icon {
  display: inline-block;
  margin-top: 20px;
}
.social-icon a {
  width: 35px;
  height: 35px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}
.social-icon a img {
width: 70%;
z-index: 1;
transition: 0.3s ease-in-out;
}

.social-icon a #wh{
  filter: invert(1);
}

.social-icon a:hover #wh {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
  }
.social-icon a:hover img {
filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.blinking-cursor{
  font-size: 20px;
}
.blinking-cursor::after{
  content: '|';
  color: #90d0ea;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50%{
    opacity: 0;
  }
}

.banner {
  margin-top: 0;
  padding: 200px 0 100px 0;
  /* background-image: url('./assets/img/banner-bg.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat; */
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
   background:linear-gradient(90.21deg, rgb(96 156 204 / 74%) -5.91%, rgb(246 242 242 / 85%) 111.58%); 
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
  border-radius: 20px;
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
  color: #121212;
}

.banner h2{
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 5px;
  display: block;
}

#avatar{
  width: 250px;
  height: 300px;
  animation: updown 3s linear infinite;
  padding: 0 0 13px

}


@keyframes updown {
  0% {
      transform: translateY(-20px);
  }
  50% {
      transform: translateY(20px);
  }
  100% {
      transform: translateY(-20px);
  }
}

.about {
   /* position: relative; */
   padding: 100px 200px;
}

.box {
  background-color: #ddf8f6;
  box-shadow: rgba(122, 136, 150, 0.9) 4px 9px 24px inset;
  opacity: 90%;
  border-radius: 100px;
  text-align: center;
  padding: 60px 50px;
  color: #121212;
  display: inline-block;

}

@media screen and (max-width:768px) {
  .about{
    padding: 40px 30px;
  }
  
  .banner{
    padding: 100px 0;
  }
  #avatar{
    width: 180px;
    height: 230px;
  }

}

.about h2{
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 20px;
}

.proSec h2{
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 30px;

}
.proSec {
  margin-top: 100px 
}


.projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 150px;
}

.project{
  width: 350px;
  height: 430px;
  padding: 15px 10px 20px 10px;
  border-radius: 30px;
  /* background: white; */
  /* background: linear-gradient(to right bottom , rgb(255,255,255,0.8),rgb(255,255,255,0.3)); */
  background: rgba(217, 217, 217, 0.1);
  /* border: 0.5px solid rgba(255, 255, 255, 0.5); */
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  
}

.project p{
  opacity: 0.8;
}
.lang{
  /* background: #ddf8f654; */
  border-radius: 180px;
  padding: 8px;
  /* border: 4px solid #ddf8f6; */
}

#proImg{
  width: 320px;
  height: 210px;
  margin-bottom: 20px;
  border-radius: 10px;
}

#proImg:hover{
  /* transform: scale(1.2); */
  /* transition: 0.3s ease-in-out; */
  opacity: 50%;
}

#lanImg{
  width: 40px;
}

.con-box{
  padding:50px 0;
  display: flex;
  /* gap: 50px; */
 justify-content: center;
 position: relative;

}
.contact-info{
  padding: 10px;
  background-color:  #141415;
   /* #29292c */
  display: flex;
  align-items: center;
  gap: 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.icon{
 background-color: #29292c;
 /* #34363a */
 padding: 8px;
 border-radius: 50%;
}
 
.icon img{
  width: 30px;
}

/* form */

form{
  width: 100%;
}

.form-field{
  width: 100%;
  margin-bottom: 10px;
}

label{
  font-size: 20px;
  text-align: left;
}

input,textarea{
  width: 100%;
  font-size: 23px;
  padding: 6px;
  color:#98999b ;
  background-color: #141415;
  outline: none;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}

textarea{
  min-height: 250px;
}

button[type = 'submit']{
  background-color: #c3c4c7;
  color: black;
  display: inline-block;
  outline: none;
  border: none;
  padding: 5px 18px;
  border-radius: 10px;
}

button[type = 'submit']:hover{
 background-color: white;
 transform: scale(1.1);
}

.con-box::after{
  position: absolute;
  content: '';
  width: 2px;
  height: 50%;
  background-color: #98999b;
  left: 53%;
  top: 35%;
  transform: translate(-50% , -50%);
}

.left , .right{
  width: 100%;
  max-width: 500px;
}

@media only screen and (max-width:768px) {
  .con-box{
    flex-direction: column;
  }

  .con-box::after{
    display: none;
  }

  .left,.right{
    max-width: 100%;
  }

  .left{
    padding: 0 30px 0 30px;
  }
  
}

.disclaimer{
  font-weight: Bold;
  margin-bottom: 0;
}
.footer {
  padding: 10px 0 10px 0;
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 19%, rgba(96,156,204,0.636467086834734) 54%, rgba(246,242,242,1) 100%); */
  /* background: linear-gradient(103deg, rgba(144,208,234,1) 1%, rgba(28,28,28,1) 100% , rgba(28,28,28,1) 100%);
  background-image: url('./assets/img/bgp.png'); */

}

.footer img {
  width: 26%;
}

#logo{
  filter: brightness(9) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);

}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width:768px) {
 
  .proSec{
    margin-top: 100px
  }
  div.me-auto.navbar-nav{ 
    margin-left: 0;
  }
  .project{
   width: 300px;
  }

  #proImg{
    width: 280px;
    height: 200px;
}
}

